<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Found this issue: 
          <a href="javascript:void(0)" (click)="wontClick()">Trigger Link</a>
          Hope this finds you in time.
        </p>
        <p>
          Another instance of same issue:
          <a href="javascript:void(0)" (click)="wontClick()">Another Trigger Link</a>
          Just some text.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngFor="let item of clickItems">{{ item }}</div>
</ion-content>
