<ion-header>
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Found this issue: 
          <a href="#" (click)="wontClick()">Trigger Link</a>
          Hope this finds you in time.
        </p>
        <p>
          Another instance of same issue:
          <a href="#" (click)="wontClick()">Another Trigger Link</a>
          Just some text.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
